/*

*/
/* Types of CSS Selectors */
/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
/* element selector */
button {
    padding: 8px;
    background-color: blue;
    color: #fff;
    margin: 4px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

body {
    background-color: rgb(47, 45, 45);
    color: darkgrey;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
} 

 p {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-style: italic;
}

/* Class Selector */
.container {
    border: 1px solid red;
    width: 500px;
    height: 200px;
    background-color: azure;
}
 .logo-text {
    font: bold;
    color: aqua;
   
 }

 a {
     text-decoration: none;
 }
/*  Id Selectors */
#portfolio {
    border: 4px dotted green;
}
.content-section {
    border: 1px solid red;
} 

#contact {
    border: 2px solid red;
    margin: 2px;
    border-radius: 8px;
}

/*  Attribute Selector */
a[href] {
    color: #fff;
}

/* Descendant selector */

div h4 {
    color: red;
}

div ul li {
    color: blueviolet;
}

/* Child Selector */
div > p {
    color: green;
}

/* Adjacent Sibling Selector  */

h4 + nav {
    background-color: green;
    color: #fff;

}

/* General Sibling Selector  */
h3 ~ p {
    color: rgb(233, 20, 20);
}

/* Group Selectors */
h2, h3, h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: tomato;
}

/* Interactive state Pseudo class selectors*/
.cta-btn:hover {
    background-color: red;
    color: #fff;
}

.cta-btn:active {
    background-color: yellow;
}

input:focus {
    border-color: rgb(173, 39, 197);
}

a::before {
    content: "Navigation Links : ";
    color: red;
}
p::after {
    content: "Citation";
    color: chocolate;
}